@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* --- NAV SUPERIOR --- */
.navbar {
  background-image: url('../assets/2019-01-15-10-41-32.jpg');
  background-size: cover;
  background-position: center;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Botones arriba */
.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-buttons .btn {
  background-color: white;
  color: #111;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
   text-decoration: none; /* Quita el subrayado */
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  min-width: 150px;
}
  


.nav-buttons .btn:hover {
  background-color: #ddd;
}

/* Logo */
.logo {
  font-family: 'Oleo Script', cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 2px #000;
}

/* --- CONTENEDOR PRINCIPAL --- */
.container {
  display: flex;
  min-height: 90vh;
}

/* --- SIDEBAR IZQUIERDA --- */
.sidebar {
  padding: 20px;
  width: 200px;
}

.dropdown {
  margin-bottom: 20px;
}

.dropbtn {
  background-color: #111;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.submenu {
  display: none;
  flex-direction: column;
  margin-top: 5px;
}

.submenu button {
  background-color: #111;
  color: white;
  padding: 8px 10px;
  margin-top: 5px;
  border: none;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.submenu button:hover,
.dropbtn:hover {
  background-color: #333;
}

/* Mostrar el submenu cuando esté activo */
.show {
  display: flex;
}

/* --- MAIN CONTENT --- */
.main-content {
  flex-grow: 1;
  padding: 20px;
}
