@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans&display=swap');

/* --- CONTACTANOS --- */
.navbar {
    background-image: url('../assets/2019-01-15-10-41-32.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 20px; /* Reducido padding vertical */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black; /* Línea negra inferior */
    margin: 0; /* Asegura que no hay margen externo */
  }

  h1.logocontactus {
    margin-left: 50px; 
    font-family: 'Oleo Script', cursive;
    font-size: 48px;
    color: white;
  }

  body {
    margin: 0;
    padding: 0;
}


  
  .nav-buttons .btn {
    background-color: rgb(41, 41, 41);
    color: #ffffff;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    min-width: 150px;
    display: inline-block; 
    margin-left: -30px; 
  }
  
  .nav-buttons .btn:hover {
    background-color: #777777;
    border-color: #666666;
  }
  
  
     /*informacion*/
  
     .intro-container {
        display: flex;
        justify-content: left;
        padding-top: 120px; 
        padding-right: 100px; 
      }
      
      .intro {
        max-width: 700px;
        text-align: left;
      }
      
      h4.intro-title {
        font-family: 'Arial', sans-serif;  
        margin-top: -30px;  
        margin-left: 80px; 
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
      }
      
      .intro-text {
        font-family: 'Arial', sans-serif;  
        margin-left: 80px; 
        font-size: 16px;
        color: #000000;
        line-height: 1.6;
      }

      

    .location-icon {
        margin-right: 8px; 
    }